.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top:40px;
    border-radius: 10px;
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        width: 100%;
  
        input {
          width: 100%;
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }
  
      button[type="submit"] {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        background-color: #68944f;
        border: none;
        border-radius: 5px;
        cursor: pointer;
  
        &:hover {
          background-color: #2e6b33;
        }
      }
    }
  
    .forgot-password {
      margin-top: 20px;
      text-align: center;
  
      a {
        color: #68944f;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    // Media queries for responsiveness
    @media (max-width: 767px) {
      max-width: 100%;
      padding: 10px;
  
      h2 {
        font-size: 24px;
      }
  
      form {
        label {
          input {
            font-size: 14px;
          }
        }
  
        button[type="submit"] {
          font-size: 14px;
        }
      }
    }
  }