.profile_page_card {
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .ant-form-item {
    margin-bottom: 16px;

    .ant-select {
      width: 200px;
      margin-left: -1px;
    }
  }

  .ant-form-item-label {
    text-align: left;
  }

  .ant-input {
    width: 100%;
  }
  .ant-col {
    margin-right: 20px;
  }

  .profile_save_btn {
    background-color: #68944f;
    border-color: #68944f;
    display: flex;
    justify-content: center;
    color: #ffffff;
    &:hover,
    &:focus {
      background-color: darken(#68944f, 10%);
      border-color: darken(#68944f, 10%);
      .spin {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
  }
}
