.seller-container {
  display: flex;
  justify-content: center;

  

  .ant-card {
    max-width: 800px;
    width: 100%;
    padding: 20px;

    @media only screen and (max-width: 768px) {
      margin: 0 0;
    }

    .ant-form-item-label {
      display: inline-block;
    
      label {
        font-weight: bold;
        width: 100%;

        @media only screen and (max-width: 768px) {
          margin-bottom: 1rem;
        }

      }
    }

    .ant-form-item-control-input {
      width: 100%; /* Set a fixed width for inputs */
    }

    .ant-btn {
      background: #68944f;
      border: none;
      color: #fff;

      &.ant-btn-primary {
        background: #68944f;

      }
    }
  }

  p {
    margin-bottom: 10px;
    color: #6c6c6c;

    span {
      font-weight: bold;
      color: rgb(239, 0, 0);
    }
  }
}
