.products {
  padding: 30px 50px;
  display: flex;
  @media (max-width: 768px) {
    padding: 0;

  }


  .left {
    position: sticky;
    height: 100%;
    top: 50px;
    width: 20%; @media (max-width: 768px) {
      display: none;
    }
    

    .filterItem{
      margin-bottom: 30px;

      h2{
        font-weight: 400;
        margin-bottom: 20px;
      }

      .inputItem{
        margin-bottom: 10px;
        label{
          margin-left: 10px;
        }
      }
    }
  }
  
  .right {
    width: 70%;
    @media (max-width: 768px) {
      width: 100%;
      
    }
  }
}