.header_space {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 9999;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .header_space_brand {
    margin-right: 50px;

    @media only screen and (max-width: 768px) {
      margin: 0;
    }
  }

  .item {
    margin-right: 30px;

    @media only screen and (max-width: 768px) {
      margin: 10px 0;
    }

    .link {
      color: #333;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      margin-right: 10px;

      &:hover {
        color: #579e3b;
      }
    }
  }

  .wrapper {
    display: flex;
    align-items: center;

    .right {
      display: flex;
      align-items: center;
      margin-right: 50px;

      @media only screen and (max-width: 768px) {
        margin: 0;
        order: 3;
      }

      .search {
        position: relative;
        display: flex;
        align-items: center;

        input {
          padding: 8px 32px;
          border-radius: 5px;
          border: 1px solid #ccc;
          font-size: 14px;
          width: 250px;
        }

        svg {
          position: absolute;
          right: 10px;
        }
      }

      .icons {
        display: flex;
        align-items: center;
        margin-left: 20px;

        @media only screen and (max-width: 768px) {
          margin: 0;
        }

        svg {
          font-size: 24px;
          margin-right: 10px;
        }

        .cartIcon {
          display: flex;
          align-items: center;
          position: relative;
          cursor: pointer;

          span {
            position: absolute;
            top: -10px;
            right: -10px;
            background-color: #68944f;
            color: #fff;
            font-size: 12px;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .auth_buttons {
    display: flex;

    @media only screen and (max-width: 768px) {
      order: 2;
      margin-top: 10px;
    }

    .auth_button_login {
      margin-right: 10px;
      color: #68944f;
      font-size: 14px;
      font-weight: bold;

      &:hover {
        color: #579e3b;
      }
    }

    .auth_button_signUp {
      background-color: #68944f;
      color: #fff;
      font-size: 14px;
      font-weight: bold;

      &:hover {
        background-color: #579e3b;
      }
    }
  }
}
